<div class="text-center copyright">
    <span>License: <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank">CC BY-NC-SA 3.0 CN</a></span><br>
</div>

<div class="text-right row">
<div class="">
    <span>Powered by <a href="https://hexo.io/" target="_blank">hexo</a></span><br>
</div>
<div class="">
    <span>Theme: <a href="https://github.com/LeeReindeer/hexo-theme-shell" target="_blank">Shell</a></span><br>
</div>
<div class="">
    <span>Author: <a href="-<%config.url%>"><%=config.author%></a></span>
</div>
</div>