<div class="text-right">
<span>License: <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/">CC BY-NC-SA 3.0 CN</a></span><br>
<span>Power by <a href="https://hexo.io/">hexo</a></span><br>
<span>Theme <a href="https://github.com/LeeReindeer/hexo-theme-shell">Shell</a></span><br>
<span>Author: <a href="-<%config.url%>"><%=config.author%></a></span>
</div>