<span>Power by <a href="https://hexo.io/">hexo</a></span><br>
<span>Theme <a href="https://github.com/LeeReindeer/hexo-theme-shell">Shell</a></span><br>
<span>Author: <a href="#"><%=config.author%></a></span>