<div class="scroll">
    <a href="#" title="Back to top"><i class="fa fa-arrow-up fa-lg fa-border" aria-hidden="true" style="color:grey" ></i></a>
    <br>
    <a href="/" title="Home"><i class="fa fa-home fa-lg fa-border" aria-hidden="true" style="color:grey" ></i></a>
    <br>
    <a href="#footer" title="Go to bottom"><i class="fa fa-arrow-down fa-lg fa-border" aria-hidden="true" style="color:grey"></i></a>
</div>